h1 { background: #D7BDE2;
color: #884EA0; text-align: center; font-size: xxx-large; font-style: oblique; font-weight: lighter;}
body { background-color: #FDEDEC;}
.contenido {font-size: x-large; text-decoration-line: underline;}
.cero {text-align: center;}
.uno {width: 20; right: 20;}
.dos {text-decoration: underline;}
.tres {font-style: italic; font-size: large;}
.cuatro {text-decoration: underline;}
.cinco { text-decoration: underline; font-style: oblique;}
.seis {background: #D2B4DE; font-size: large;}
